* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #a05959;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #a05959;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 25%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#computer-score {
  font-size: 4rem;
}

.message-container {
  margin-top: 5rem;
  text-align: center;
}

#message {
  background-color: #a05959;
  color: #fff;
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  width:fit-content;
  align-self: center;
  margin-top: 1rem;
  text-align: center;
}